SUBSYSTEM=="hwmon", KERNEL=="hwmon*", RUN+="/bin/sh -c 'for f in %S%p/pwm*; do [ -f \"$$f\" ] || continue; chgrp cfans \"$$f\"; chmod 664 \"$$f\"; done'"
